
header{
	border: -.5% solid gray;
	background-color: black;
	margin: -1%;
	font-family: "Comic Sans Ms";
	color: white;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}
h2{
	font-size: 36px;
	margin: -1%;
}

p{
	background-color: gray; 
	border: 1px solid blue;
	padding: 5px;
	text-align: justify;
	size: 15px;
	font-size: 24px;
	margin-left,margin-right:-5%;

}
h3{
	text-align: center;
}
img{
	padding-top: 1%;
	
}
li{
	font-size: 24px;
	font-style: italic;
	
	color: green;
	margin: 10px;
}
li:hover{
	background: white;
	color: black;
}
iframe{
	border: 3px solid black;
}
nav{

	overflow: hidden;
	background-color: red;
	
	margin: -1%;

}

nav a{

	float:left;
	text-underline-position: all;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}
nav a:hover{
	background-color: black;
	color: white;
	
}

.column{
	float: left;
	
	padding: 3px;
	border: none;

}
.column.left{
	width:30%;

}
.column.middle{
	width: 30%;

}
.column.right{
	width: 30%;

}

}




@media screen and (max-width: 650px){
	.column.left,.column.right,.column.middle{
	width:100%;
	}
}
footer{
	clear:both;
	background-color: green;
	color: white;
	padding:3%;
	font-family: "Comic Sans Ms";
}
input[type=text],select,textarea{
	width: 100%;
	padding: 6px;
	border: 2px solid gray;
	margin-top: 6px;
	margin-bottom: 16;
	resize: vertical;

}
input[type=submit]{
	background-color: green;
	color: white;
	padding: 12px 20px;
	cursor: pointer;
}